.colones-footer {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    
    justify-content: center;
}
.colones-footer > div {
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    
}