* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Prompt", sans-serif;
    overflow-x: hidden; 
}

.global {
    display: flex;
    justify-content: center;
}

.global > section {
    flex: 0 1 900px;
    padding: 3rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
  }

.global > section,
.global > header,
.global > footer {
    flex: 0 1 1100px;
    // border: 1px solid #aaa;
    padding: 4rem 1rem;
    // background-color: rgba(0,0,0, 0.1);
    background-color: rgba(255,255,255, var(--transparence-section));
}

.global > .entete__header {
    flex: 1;
}

#entete, #footer {
    min-height: 20vh;
}

#menu__entete {
    position: relative;
    // background-color: var(--couleur-arriere-menu);
}

#entete {
    //background-color: var(--couleur-arriere-entete);
    position: relative;
    color: var(--couleur-entete);
    min-height: 60vh;
}

/* header > h1 {
    box-shadow: 1rem;
    text-shadow: 5px 4px 2px black;
}*/

#accueil{
    background-color: var(--couleur-arriere-accueil);
    color :var(--couleur-accueil);
}

#evenement{
    //background-color: var(--couleur-arriere-evenement);
    color :var(--couleur-evenement);
}

#galerie{
    background-color: var(--couleur-arriere-galerie);
    color :var(--couleur-galerie);
    position: relative;
}

#galerie > h4 {
    font-size: 30px;
}

#footer{
    background-color: var(--couleur-arriere-footer);
    color :var(--couleur-footer);
    // position: relative;
}

.colones-footer {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    
    justify-content: center;
}
.colones-footer > div {
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    
}

blockquote {
    padding: 1rem;
    font-size: 1.2rem;
    font-style: italic;
    background-color: var(--couleur-blockquote);
}

//Écran format téléphone/tablette
@media screen and (max-width: 820px) {

    .global > header {
        text-align: center;
    }

    .global > footer {
        text-align: center;
    }

    header > .espace {
        padding-top: 12rem;
    }

}