:root {
    /*
    --couleur-arriere-entete : rgb(59, 124, 181, 1);;
    --couleur-arriere-accueil : rgb(8, 205, 14, 1);
    --couleur-arriere-evenement : rgba(166, 3, 215, 1);
    --couleur-arriere-galerie : rgba(255, 162, 0, 1);
    --couleur-arriere-footer : rgba(167, 44, 0, 1);

    /*Niveau de transparence des h
    --transparence-h1: 0,4;
    // Transparence section
    --transparence-section : 0.1;
    
    // Largeur de la zone centrale
    --largeur-zone-centrale : 1;

    */
    
    // Calcul des teintes
    --hu1 : 180; // couleur initiale
    --hu2 : calc(var(--hu1) + 30); // couleur complémentaire
    --hu3 : calc(var(--hu1) - 20); // couleur analogue gauche
    --hu4 : calc(var(--hu1) + 10); // couleur analogue droite
    // La saturation
    --s-arriere : 100%;
    --s-avant : 50%;
    // La luminosité
    --l-arriere : 30%;
    --l-avant : 20%;

    
    // couleur arrière plan - background-color
    --couleur-arriere-entete : hsl(var(--hu1),var(--s-arriere), var(--l-arriere));
    // --couleur-arriere-accueil : hsl(var(--u2),var(--s-arriere), var(--l-arriere));
    --couleur-arriere-accueil: hsl(var(--hu2),var(--s-arriere), var(--l-arriere));
    --couleur-arriere-evenement : hsl(var(--hu3),var(--s-arriere), var(--l-arriere));
    --couleur-arriere-galerie : hsl(var(--hu4),var(--s-arriere), var(--l-arriere));
    --couleur-arriere-footer : hsl(var(--hu1),var(--s-arriere), var(--l-arriere));
    

    
    // couleur avant plan - color
    --couleur-entete : hsl(var(--hu1),var(--s-avant), var(--l-avant));
    --couleur-accueil : hsl(var(--hu2),var(--s-avant), var(--l-avant));
    --couleur-evenement : hsl(var(--hu3),var(--s-avant), var(--l-avant));
    --couleur-galerie : hsl(var(--hu4),var(--s-avant), var(--l-avant));
    --couleur-footer : hsl(var(--hu1),var(--s-avant), var(--l-avant));
    

    // Couleurs monochrome
    
    // couleur arrière plan - background-color
    --couleur-arriere-entete : hsl(var(--hu1), 100%, 70%);
    --couleur-arriere-accueil: hsl(var(--hu2), 100%, 40%);
    //--couleur-arriere-evenement : hsl(var(--hu3), 100%, 80%);
    //--couleur-arriere-galerie : hsl(var(--hu4), 100%, 85%);
    --couleur-arriere-footer : hsl(var(--hu1), 100%, 70%);

    --couleur-arriere-evenement : var(--couleur-arriere-accueil);
    --couleur-arriere-galerie : var(--couleur-arriere-accueil);

    --couleur-entete : hsl(var(--hu1), 100%, 20%);
    --couleur-accueil: hsl(var(--hu2), 100%, 85%);
    --couleur-evenement : hsl(var(--hu3), 100%, 30%);
    --couleur-galerie : hsl(var(--hu4), 100%, 75%);
    --couleur-footer : hsl(var(--hu1), 100%, 10%);

    --couleur-bouton : hsl(var(--hu2), 100%, 40%);
    --couleur-bouton-hover : hsl(var(--hu2), 100%, 20%);

    --couleur-blockquote : hsl(var(--hu2), 100%, 60%);
    
}