.grand-bouton {
    font-size: clamp(1.125rem, 0.5rem + 2vw, 1.875rem);
    padding: 12px 24px;
    // background-image: linear-gradient(120deg, var(--bouton-couleur-1), var(--bouton-couleur-2));
    background-image: linear-gradient(120deg, #e8cf54, #d48701);
    margin-top: 30px;
    transition: transform 0.2s;
    transform: translateY(0);

}

.grand-bouton:hover {
    background-image: linear-gradient(120deg, #e87e54, #d44e01);
    transform: translateY(2.5px);
}

a > img {
    color: red;
    background-color: white;
}

.icones__svg {
    display: flex;
    justify-content: space-between;
    
}

.boutons-desc-villes > button {
    font-size: clamp(1.125rem, 0.5rem + 2vw, 1.875rem);
    padding: 12px 24px;
    background-image: linear-gradient(120deg, #54bce8, #0163d4);
    margin-top: 30px;
    gap: 1rem;
    color: white;
}