a {
    color: var(--couleur-lien);
    text-decoration: none;
    font-size: small;
}

.categories-erreur > a {
    color: var(--couleur-entete);
    padding: 5px;
}

.categories-erreur > a:hover {
    color: var(--couleur-lien-hover);
}

a:visited {
    color: var(--couleur-lien-visited);
}

a:hover {
    color: var(--couleur-lien-hover);
}

.carte > a {
    color: var(--couleur-lien-single);
}

#erreur-404 > a  {
    color: var(--couleur-entete);
}

#erreur-404 > a:visited  {
    color: var(--couleur-entete);
}