/* Variable Sass */

/* palette de couleurs */
$--clr-bleu-pale    : hsl(220, 100%, 85%);
$--clr-bleu-leger  : hsl(220, 100%, 60%);
$--clr-bleu-moyen  : hsl(220, 100%, 30%);    
$--clr-bleu-fonce  : hsl(220, 100%, 15%);


$--clr-turquoise-pale: hsl(179, 100%, 65%);
$--clr-turquoise-leger  : hsl(188, 100%, 50%);
$--clr-turquoise-moyen  : hsl(195, 100%, 35%);
$--clr-turquoise-fonce  : hsl(191, 100%, 19%);

$--clr-vert-pale: hsl(172, 100%, 76%);
$--clr-vert-leger  : hsl(174, 100%, 46%);
$--clr-vert-moyen  : hsl(177, 100%, 31%);
$--clr-vert-fonce  : hsl(175, 100%, 15%);

$--clr-mauve-bleu-pale: hsl(244, 100%, 72%);
$--clr-mauve-bleu-leger  : hsl(262, 100%, 59%);
$--clr-mauve-bleu-moyen  : hsl(259, 100%, 42%);
$--clr-mauve-bleu-fonce  : hsl(250, 100%, 19%);

/* À partir des variables de couleurs de la palette choisie
on crée un mapping en catégorisant les différentes couleurs,
Ce map contient un map principal et plusieur sous-map */

$defaut: (
    primaire : (
        100: $--clr-bleu-pale,
        200: $--clr-bleu-leger,
        300: $--clr-bleu-moyen,
        400: $--clr-bleu-fonce
    ),
    secondaire : (
        100: $--clr-turquoise-pale,
        200: $--clr-turquoise-leger,
        300: $--clr-turquoise-moyen,
        400: $--clr-turquoise-fonce
    ),
    ternaire : (
        100: $--clr-vert-pale,
        200: $--clr-vert-leger,
        300: $--clr-vert-moyen,
        400: $--clr-vert-fonce
    ),
    mauve-bleu : (
        100: $--clr-mauve-bleu-pale,
        200: $--clr-mauve-bleu-leger,
        300: $--clr-mauve-bleu-moyen,
        400: $--clr-mauve-bleu-fonce
    )
);


/* Agencement de couleurs */

$agencement-couleur :(
    primaire: ($--clr-bleu-pale, ($--clr-bleu-fonce, $--clr-bleu-moyen)),
    secondaire: ($--clr-turquoise-pale, ($--clr-turquoise-moyen, $--clr-turquoise-pale)),
    ternaire: ($--clr-vert-pale, ($--clr-vert-fonce, $--clr-vert-moyen)),
    mauve-bleu: ($--clr-mauve-bleu-pale, ($--clr-mauve-bleu-moyen, $--clr-mauve-bleu-fonce))
);

:root {
    // Calcul des teintes
    --hu1 : 180; // couleur initiale
    --hu2 : calc(var(--hu1) + 30); // couleur complémentaire
    --hu3 : calc(var(--hu1) - 20); // couleur analogue gauche
    --hu4 : calc(var(--hu1) + 10); // couleur analogue droite
    // La saturation
    --s-arriere : 100%;
    --s-avant : 50%;
    // La luminosité
    --l-arriere : 30%;
    --l-avant : 20%;

    // Couleurs monochrome
    
    // couleur arrière plan - background-color
    --couleur-arriere-menu: hsl(var(--hu2), 100%, 30%);
    --couleur-arriere-entete : hsl(var(--hu1), 100%, 70%); //Couleur de l'arrière plan de l'entête
    --couleur-arriere-accueil: hsl(var(--hu2), 100%, 40%); //Couleur de l'arrière plan de l'accueil
    //--couleur-arriere-evenement : hsl(var(--hu3), 100%, 80%);
    //--couleur-arriere-galerie : hsl(var(--hu4), 100%, 85%);
    --couleur-arriere-footer : hsl(var(--hu2), 100%, 20%); //Couleur de l'arrière plan du footer

    --couleur-arriere-evenement : var(--couleur-arriere-accueil); //Couleur de l'arrière plan de l'évenement
    --couleur-arriere-galerie : var(--couleur-arriere-accueil); //Couleur de l'arrière plan de la galerie

    --couleur-entete : hsl(var(--hu2), 100%, 20%); //Couleur des polices de l'entete
    --couleur-accueil: hsl(var(--hu2), 100%, 85%); //Couleur des polices de l'accueil
    --couleur-evenement : hsl(var(--hu4), 100%, 30%);//Couleur des polices de l'évenement
    --couleur-galerie : hsl(var(--hu2), 100%, 85%); //Couleur des polices de la galerie
    --couleur-footer : hsl(var(--hu1), 100%, 50%); //Couleur des polices du footer

    //--couleur-bouton : hsl(var(--hu2), 100%, 40%);
    //--couleur-bouton-hover : hsl(var(--hu2), 100%, 20%);

    // Couleur du blockquote
    --couleur-blockquote : hsl(var(--hu2), 100%, 60%);

    // Couleur dde l'arrière ^plan de la diagonal
    --couleur-arriere-diagonal: hsl(var(--hu2), 100%, 80%);

    --couleur-lien: hsl(var(--hu2), 100%, 60%);
    --couleur-lien-hover: hsl(var(--hu3), 100%, 50%);
    --couleur-lien-visited: hsl(var(--hu2), 100%, 70%);

    //--couleur-carte: hsl(var(--hu2), 100%, 80%);
    //--couleur-arriere-carte: hsl(var(--hu2), 100%, 50%);

    --couleur-menu: hsl(var(--hu4), 100%, 75%);
    

    --couleur-menu-hover: hsl(var(--hu2), 100%, 50%);
    
    --couleur-lien-single: hsl(var(--hu1), 100%, 50%);
    
}

/* Variable local */

.carte {
    --_couleur: hsl(var(--hu2), 100%, 80%);
    --_couleur-arriere: hsl(var(--hu2), 100%, 50%);
    --_couleur-nb-articles: hsl(var(--hu4), 100%, 80%);
}

#entete {
    --_couleur-arriere-vague: var(--couleur-arriere-accueil);
}

#galerie {
    --_couleur-arriere-vague: var(--couleur-arriere-footer);
}